name: Publish App on Merge to Test

on:
  push:
    branches:
      - develop
  workflow_dispatch:

env:
  CHANNEL_LINK: "pear://ahdgc4xremb3zxnwfth34fun6yxy1jy6az71uun3bh6sy5z4ebwy"

permissions:
  contents: read
  packages: read

jobs:
  publish-worker:
    runs-on: ["self-hosted", "Linux", "large"]
    env:
      SLACK_WEBHOOK_URL_PATH: ${{ secrets.SLACK_WEBHOOK_URL_PATH }}
      GOOGLE_FORM_KEY: ${{ secrets.GOOGLE_FORM_KEY }}
      GOOGLE_FORM_MAPPING_TIMESTAMP: ${{ secrets.GOOGLE_FORM_MAPPING_TIMESTAMP }}
      GOOGLE_FORM_MAPPING_TOPIC: ${{ secrets.GOOGLE_FORM_MAPPING_TOPIC }}
      GOOGLE_FORM_MAPPING_APP: ${{ secrets.GOOGLE_FORM_MAPPING_APP }}
      GOOGLE_FORM_MAPPING_OPERATING_SYSTEM: ${{ secrets.GOOGLE_FORM_MAPPING_OPERATING_SYSTEM }}
      GOOGLE_FORM_MAPPING_DEVICE_MODEL: ${{ secrets.GOOGLE_FORM_MAPPING_DEVICE_MODEL }}
      GOOGLE_FORM_MAPPING_MESSAGE: ${{ secrets.GOOGLE_FORM_MAPPING_MESSAGE }}
      GOOGLE_FORM_MAPPING_APP_VERSION: ${{ secrets.GOOGLE_FORM_MAPPING_APP_VERSION }}
      TEST_SLACK_WEBHOOK_URL_PATH: ${{ secrets.TEST_SLACK_WEBHOOK_URL_PATH }}
      TEST_GOOGLE_FORM_KEY: ${{ secrets.TEST_GOOGLE_FORM_KEY }}
      TEST_GOOGLE_FORM_MAPPING_TIMESTAMP: ${{ secrets.TEST_GOOGLE_FORM_MAPPING_TIMESTAMP }}
      TEST_GOOGLE_FORM_MAPPING_TOPIC: ${{ secrets.TEST_GOOGLE_FORM_MAPPING_TOPIC }}
      TEST_GOOGLE_FORM_MAPPING_APP: ${{ secrets.TEST_GOOGLE_FORM_MAPPING_APP }}
      TEST_GOOGLE_FORM_MAPPING_OPERATING_SYSTEM: ${{ secrets.TEST_GOOGLE_FORM_MAPPING_OPERATING_SYSTEM }}
      TEST_GOOGLE_FORM_MAPPING_DEVICE_MODEL: ${{ secrets.TEST_GOOGLE_FORM_MAPPING_DEVICE_MODEL }}
      TEST_GOOGLE_FORM_MAPPING_MESSAGE: ${{ secrets.TEST_GOOGLE_FORM_MAPPING_MESSAGE }}
      TEST_GOOGLE_FORM_MAPPING_APP_VERSION: ${{ secrets.TEST_GOOGLE_FORM_MAPPING_APP_VERSION }}
    steps:
      - uses: actions/checkout@v4
      - name: Checkout submodules
        run: |
          git submodule deinit --force .
          git submodule update --init --recursive
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22.x"
      - uses: actions/setup-node@v4
        with:
          registry-url: "https://npm.pkg.github.com"
          scope: "@tetherto"
      - name: Install worker dependencies
        run: |
          npm install --install-links
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NOXTTON_BOT_PAT }}
      - name: Extract translations
        run: |
          npm run lingui:extract
          npm run lingui:compile
      # - name: Prune dev dependencies
      #   run: npm prune --omit=dev
      - name: "Stage to channel"
        run: |
          echo "CHANNEL_LINK: ${CHANNEL_LINK}"
          pear stage --ignore .git --no-ask ${CHANNEL_LINK} .
      - name: "Release latest version"
        run: |
          pear release ${CHANNEL_LINK}
